@import '~bootstrap/scss/mixins/_grid';

$col-featured-count: 6;
$col-featured-width: 175px;
$col-featured-width-inc: 25px;

@mixin col-featured($breakpoint: null) {
  @for $i from 1 through $col-featured-count {
    .col#{$breakpoint}-featured-#{$i} {
      @include make-col-ready();
      flex: 0 0 $col-featured-width;
      max-width: $col-featured-width + ($i - 1) * $col-featured-width-inc;
    }
  }
}
