$enable-responsive-font-sizes: true;
@import '~bootstrap/scss/bootstrap';
@import './Featured';
@import './Thumbnail';
@import './Whitespace';
@import './Opacity';
@import './Filter';
@import './Product';
@import './Range';
@import './Position';
@import './Z';
@import './Sizing';

@each $breakpoint in $grid-breakpoints {
  $raw-breakpoint: nth($breakpoint, 1);
  $breakpoint: '-' + $raw-breakpoint;
  @if $raw-breakpoint == 'xs' { $breakpoint: null; }
  @include media-breakpoint-up($raw-breakpoint) {
    @include featured   ($breakpoint);
    @include thumbnail  ($breakpoint);
    @include whitespace ($breakpoint);
    @include opacity    ($breakpoint);
    @include filter     ($breakpoint);
    @include product    ($breakpoint);
    @include range      ($breakpoint);
    @include position   ($breakpoint);
    @include z          ($breakpoint);
    @include sizing     ($breakpoint);
  }
}
